@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Office:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
    html {
        min-height: 100%;
    }
    body{
        overflow: hidden;
        font-family: 'Ysabeau Office', sans-serif;
        display: block;
        position: absolute;
        padding: 0;
        height: 100vh;
        width: 100vw;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: #d6d6d6;
    }
    #container{
        margin-top: 60px;
        font-family: 'Ysabeau Office', sans-serif;
        font-size: 20px;
        color: #ffffff;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.582);
        text-align: center;
    }
    header{
        text-align: center;
        line-height: 15px;
        height: 50px;
    }
    h1{
        font-family: 'Bad Script', cursive;
        font-weight: 100;
        font-style: italic;
        color: rgba(240, 240, 240, 0.904);
    }
    section{
        background-color: #ffffffc4;
        border-radius: 10px;
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.397);
        padding: 15px;
        width: 500px;
        margin-left: auto;
        margin-right: auto;
    }
    p{
        font-weight: 600;
        color: rgba(0, 0, 0, 0.644);
        text-shadow: 1px 1px 10px rgba(255, 255, 255, 0.877);
        text-align: center;
    }
    #emoji{
        margin-bottom: 25px;
        margin-top: 10px;
        color: white;
        font-size: 30px;
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.349);
    }
    #refeicao{
        margin-top: 30px;
        color: rgb(53, 53, 53);
        font-size: 30px;
    }
    footer{
        color: rgba(255, 255, 255, 0.904);
        text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.836);
        text-align: center;
        font-style: italic;
        line-height: 30px;
        height: 25px;
    }
